/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

.link {
  text-decoration: underline;
  font-weight: bold;
  color: #5fb2f2;
}

body {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: #333;
}

ul {
  list-style-type: disc;
}

.home-button {
  width: 140px;
  margin: 0px 10px;
}

.blog-img {
  margin: 30px 0px;
  width: 100%;
}

p {
  margin: 30px 0px;
}

.author {
  margin-top: -15px;
}

.caption {
  color: gray;
  font-size: 14px;
  margin-top: -35px;
}

@media only screen and (min-width: 1024px) {
  .mainContainer {
    padding: 40px 40px !important;
  }
}
